<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title E
    body
        .app
            .app__col1
            .app__col2
            .app__col3
                .le__col1
                .le__col2
                    .mac__col1
                    .mac__col2
                        .lg__col1
                        .lg__col2
